.col1{
  background-color: $p1;
}
.col1l1{
  background-color: $p1l1;
}
.col1l2{
  background-color: $p1l2;
}
.col1l3{
  background-color: $p1l3;
}
.col1d1{
  background-color: $p1d1;
}
.col1d2{
  background-color: $p1d2;
}
.col1d3{
  background-color: $p1d3;
}

.col2{
  background-color: $p2;
}
.col2l1{
  background-color: $p2l1;
}
.col2l2 {
  background-color: $p2l2;
}
.col2l3{
  background-color: $p2l3;
}
.col2d1{
  background-color: $p2d1;
}
.col2d2{
  background-color: $p2d2;
}
.col2d3{
   background-color: $p2d3;
}

.col3{
  background-color: $p3;
}
.col3l1{
  background-color: $p3l1;
}
.col3l2{
  background-color: $p3l2;
}
.col3l3 {
  background-color: $p3l3;
}
.col3d1{
  background-color: $p3d1;
}
.col3d2{
  background-color: $p3d2;
}
.col3d3{
  background-color: $p3d3;
}
.col4{
background-color: $p4;
}
.col4l1{
  background-color: $p4l1;
}
.col4l2{
  background-color: $p4l2;
}
.col4l3{
  background-color: $p4l3;
}
.col4d1{
  background-color: $p4d1;
}
.col4d2{
  background-color: $p4d2;
}
.col4d3{
  background-color: $p4d3;
}

.firs_button_line{
  width: 100%;
}